@media (max-width:1074px) {
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .blogs-main-img-container{
        grid-row: 2;
    }

    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }

    .blogs-posts-container .post-container{
        max-width: 45%;
    }
    
}